@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,500&display=swap');



*, ::before,::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root{
  --primary_color:#497E91;
  /* --secondary_color:#F9A826; */
  --secondary_color: #dc143c;
  --gradient: linear-gradient(0deg, #55b88d 0%, var(--primary_color) 81%);
  --gradient2: linear-gradient(60deg, var(--secondary_color) 0%, var(--primary_color) 100%);
  --border:  1px solid red;
}
/* general */
body{
  background-color: #fcfcfcaf;
}
a{
  text-decoration: none;
  color: inherit;
}

p{
  font-size: 1.1rem;
  color: rgb(72, 72, 72);
}

.container{
  display: flex;
  min-height: 100vh;
  margin-top: 20px;
}

button{
  border: none;
  padding: 0;
  cursor: pointer;
}
 img{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
 }
.title{
  font-size: 2.5rem;
  color: #2F4858;
}

main > section:not(#hero){
  padding: 0 50px;
}
/* end general */


/* header */
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
 
  padding: 20px;
  z-index: 100;
  /* overflow: hidden; */
  transition: all ease .3s,
  box-shadow  ease .7s;
  color: black;
  background-color: #eae5e5;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

/* header.fixed_header{
  color: black;
  background-color: #eae5e5;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}
header.fixed_header #sign_in_up_container button:first-child{
  color: black;
} */


nav{
  display: flex;
  align-items: center;
  justify-content: space-between;

  
}

/* .logo{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--primary_color);
} */


/* .logo span{
  color: var(--secondary_color);
}
.logo span:nth-of-type(1){
  font-size: 2.1rem;

}
.logo span:nth-of-type(2){
  color: gray;
  font-size: 1.2rem;
}
 
.logo span:nth-of-type(3){
  font-size: 1.4rem;
  color: gray;
}
.logo span:nth-of-type(4){
  font-size: 1.6rem;

}
.logo span:nth-of-type(5){
  font-size: 2.8rem;
  color: var(--primary_color);
} */


.logo_cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo_cont .nom_mairie{
  color: var(--secondary_color);
  text-transform: capitalize;
}
img.logo{
  width: 40px;
  height: 40px;
}

.logo a{
  cursor: pointer;
}

nav ul{
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: 60%;
}

nav ul li{
  list-style: none;
  font-size: 1.1rem;
  color: inherit;
}

nav ul a:not(.dropdown a)::after{
  content: '';
  display: block;
  margin: 0 auto;
  width: 0%;
  height: 3px;
  background: var(--secondary_color);
  transition: width ease .6s;
}

nav ul a:not(.dropdown a):hover::after{
  width: 100%;
}

nav li.active a:not(.dropdown a)::after{
  width: 100%;
}

nav ul a{
  text-align: center;
  vertical-align: middle;
}

/* dropdown */

.dropdown {
  display: block;
  position: relative;
  
}
.dropdown>a{
  font-size: 1.1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  padding: 5px 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2000;

}

/* Links inside the dropdown */
.dropdown-content a {
/*   color: black; */
  padding: 12px 5px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #eae5e5;}

.dropdown:hover .dropdown-content {display: block;}

/* end dropdown */

header button{
  padding: 10px 20px;
  border-radius: 5px;
  background: var(--secondary_color);
  font-weight: 700;
  font-size: 1.1rem;
  color :white;
  cursor: pointer;
  transition: all ease .7s;
}

header button:hover {
  background: var(--primary_color);
}

/* end header */

/* hero sec */
#hero .hero{
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: var(--gradient);
  background: var(--primary_color);
  background: linear-gradient(90deg, var(--secondary_color) 0%, var(--primary_color) 80%);
}


.hero_title{
  color: white;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.start_btn_cont{
  display: flex;
  width: 100%;
}

.start_btn_cont button{
  padding: 14px 36px;
  border-radius: 5px;
  background: var(--secondary_color);
  color: white;
  font-size: 1.3em;
  font-weight: 400;
}

.start_btn_cont button:nth-child(1){
  margin-right: 2em;
}


/* end hero sec */

/* hist sec */
.histoire{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.histoire .hist_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 200px;
}

.hist_text{
  position: relative;
}
.hist_text svg{
  position: absolute;
  width: 30px;
  height: 30px;
  fill: var(--secondary_color);

}


svg.quote_left{
  top: -20px;
  left: -60px;
}

svg.quote_right{
  bottom: -20px;
  right: -20px;
}
/* end hist sec */

/* conseil sec  */
.card_person{
  flex-direction: column;
  overflow: hidden;
  padding: 10rem 10px;
}


.clip{
  display: none;
}
.card_person .members{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

} 

.card_person .member{
  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 2px 5px #497e91ca;
  height: 300px;
  background: white;
  padding: 0 5px;
}

.mem_pic_cont{
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.card_person img{
  object-fit: cover;
  object-position: center;
  transition: transform .6s ease ;
}

.card_person img:hover{
  transform: scale(1.07);
}

.conseil_descrip{
  color: white;
  text-align: center;
  margin-bottom: 20px;
  height: 30%;
}

.conseil_descrip p #nbr_membres{
  color:crimson;
}

.member_info{
  justify-self: flex-end;
  text-align: center;
  background: var(--primary_color);
  width: 100%;
  color: white;
  margin-top: 5px;
  padding: 0 5px;
}

.member_info .member_post{
  font-weight: 300;
}
/* end conseil sec  */
/* personnel sec  */
a.see_more{
  transition: all ease .6s;
}
a.see_more:hover{
  color: var(--secondary_color);
}

a.all_perso{
  justify-self: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 500;
}
/* end personnel sec  */



/* mission sec */

#mission .mission{
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 5rem 10px;
  text-align: center;
}

.missions div{
  margin: 20px;
  text-align: left;
}

.missions p{
  
  line-height: 2rem;
}

.missions p svg{
    width: 15px;
    height: 15px;
    fill: var(--secondary_color);

}
/* end mission sec */

/* footer sec */

footer{
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: 100%;
  background: #2F4858;
  color: white;
}
/* pro_actu */
.pro_actu{
  padding-top: 200px;
  padding-bottom: 200px;
  
}
.pro_actu .item_cont{
  margin-bottom: 50px;
}
.pro_actu .sub_title{
  text-align: center;
  margin-bottom: 20px;
  color: var(--secondary_color);
}
/* end pro_actu */

/* lieu touristique */
#tourisme .tourisme{
  padding-top: 200px;
  padding-bottom: 200px;
  flex-direction: column;
  align-items: center;
}
 #tourisme .tourisme_header h1{
  margin-bottom: 50px;

}

#tourisme .all_lieux{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

#tourisme .lieu_item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  overflow: hidden;
  border-radius: 10px;
  height: 400px;
  margin: 0;
  width: 100%;
  
}


#tourisme .lieu_info{
   padding: 30px;
   flex-basis: 50%;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   background-image: var(--gradient2);
   color: white;
   height: 100%;
   overflow: hidden;
}

#tourisme .lieu_info h1{
  font-size: 2.1rem;
  font-weight: 500;
}

#tourisme .lieu_info h2{
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 10px;
}

#tourisme .lieu_info p{
  margin-top: 20px;
  display: inline-block;
  color: white;
}

#tourisme .lieu_img{
  flex-basis: 50%;
  width: 100%;
  height: 100%;
  /* width: 500px;
  height: 400px; */
  overflow: hidden;
  position: relative;

}

#tourisme .lieu_img::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .7;
  transition: .6s ease opacity;
}

#tourisme .lieu_img img{
  transition: .3s ease transformation;
}
#tourisme .lieu_item:hover  .lieu_img img{
  transform: scale(1.1);

}

#tourisme .lieu_item:hover  .lieu_img::after{
  opacity: 0;
}



#tourisme .lieu_item{
 height: 400px;
 margin: 0;
 width: 100%;
 border-radius: 0;
}


#tourisme .all_lieux .lieu_item:nth-child(2) .lieu_info,
#tourisme .all_lieux .lieu_item:nth-child(4) .lieu_info
{
 order: 1;
} 


/* end lieu touristique */

/* personnel css */

#personnel .worker{
  display: flex;
}


#personnel .photo__side{
  flex-basis: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--primary_color);
}

#personnel .photo__container{
  background-image: var(--background);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  border: 5px solid var(--secondary_color);
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
/* .photo__container img{
  object-fit: cover;
  object-position: center;
} */


#personnel .parcours__side{
  position: relative;
  flex-basis: 190%;
  display: flex;
  flex-direction: column;
  gap: 10px 15px;
  border-left: 5px solid var(--primary_color);
}

#personnel .parcours__side>div, .parcours__side>.download__cv{
  width: 60%;
  padding: 10px 100px 10px 20px;
}

#personnel .parcours__step::before, .download__cv::before{
  content: '';
  display: block;
  position: absolute;
  left: -12.5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primary_color);
}

#personnel .download__cv{
  position: absolute;
  bottom: -35px;
}
#personnel .download__cv::before{
  background: var(--secondary_color);
}

#personnel .download__cv a{
  color:var(--secondary_color_light);
  font-size: 1.2rem;
  font-weight: 500;
}

#personnel .download__cv svg{
  width: 15px;
  height: 15px;
  fill: var(--secondary_color);
}

#personnel h3.function{
  font-weight: 300;
} 
/* end personnel css */







#auth img {
    width: 100px;
    height: 100px;
  }

/*   :root {
    --primary_color: #475155;
    --secondary_color: #dc143c;
  } */

  
  
  /* general */
  
  
  main#auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    max-height: 75vh;
    padding: 100px 0 10px 20px;
    background: white;
    z-index: 20;
    margin-top: 100px;
    margin-bottom: 200px;
  }

  #auth a {
    text-decoration: none;
    color: inherit;

  }

  #auth p {
    font-size: 1.1rem;
    color: rgb(72, 72, 72);
  }



  /* let's style form control */

  #auth form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 500px;
    flex-wrap: wrap;
    min-height: 420px;
    box-shadow: 0 0 10px rgb(175, 175, 175);
    border-radius: 10px;
    padding: 50px 40px 30px 20px;
    position: relative;
  }

  .message_alert{
    position: absolute;
    top: 30px;
  }
  .form_inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }

  #auth form h3 {
    font-weight: 900;
    font-size: 1.5em;
    padding-bottom: 20px;
    color: var(--secondary_color);
  }

  #auth form .form_inp {

    margin: 10px 0;
    display: flex;
    align-items: center;

    width: 100%;
    /*  border: var(--border); */
    padding-left: 20px;
    margin-bottom: 25px;

  }


  #auth .form_inp input {
    width: 70%;
    padding: 10px 7px 10px 7px;
    background: rgba(231, 231, 231, 0.801);
    border: none;
    border-radius: 2px;
    outline: none;
    font-size: 1em;
    /*  padding: 10px 20px; */
    outline: none;

  }

  #auth .form_inp label {
    text-align: center;
    flex: 10%;
    color: var(--primary_color);
    font-weight: 500;
  }

  #auth .form_inp input:placeholder {
    font-size: 15px;
  }

  #auth .form_inp input:focus {
    border: 1px solid var(--color);
  }




  #auth form button {
    /* bg */
    background-color: var(--secondary_color);
    cursor: pointer;
    /* end bg */
    padding: 8px 20px 8px 20px;
    text-align: center;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    border: none;
    transition: all .8s;
  }

  /* form .controls{
    justify-content: center;
  } */
  #auth form button:hover {
    background-color:  var(--primary_color);
  }

  #auth .last_form_inp {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #auth .last_form_inp p a {
    transition: all .8s;
    font-weight: 700;
    color: var(--secondary_color);
  }

  #auth .last_form_inp p a:hover {
    color: var(--primary_color);
  }

  main#access_denied{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 0px 0 10px 20px;
    background: white;
    z-index: 20;
    margin-top: 10px;
    margin-bottom: 200px;
  }

  
  #access_denied .code{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#access_denied .code p:nth-child(1){
  color: var(--secondary_color);
  font-size: 10rem;
  letter-spacing: .9px;
} 

#access_denied .code p:nth-child(2){
  font-size: 1.9rem;
  color: var(--primary_color);
}