@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,500&display=swap');


*, ::before,::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root{
  --primary_color:#475155;
  /* --secondary_color:#F9A826; */
  --color : #497E91;
  --secondary_color: #dc143c;
  --gradient: linear-gradient(0deg, #55b88d 0%, var(--primary_color) 81%);
  --border:  1px solid red;
}

table{
  border-collapse:collapse;
  border:1px solid #ccc;
}

td, th {
  border:1px solid rgb(102, 101, 101);
  padding:10px;
}

/* general */
body{
  background: var(--primary_color);
}
main{
  position: absolute;
  top: 120px;
  left: 220px;
  right: 20px;
  min-height: 50vh;
  max-height: 75vh;
  padding: 20px 0 10px 20px;
  background: white;
  z-index: 1000;
  overflow: scroll
}

a{
  text-decoration: none;
  color: inherit;
  
}

p{
  font-size: 1.1rem;
  color: rgb(72, 72, 72);
}


.side_bar{
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  flex-direction: column;
  align-items: stretch;
  justify-items: spa;
  background: var(--primary_color);
  width: 220px;
  padding: 60px 0px;
  color: white;
  z-index: 10;
}


/* content sec */
.content{
  display: flex;
  overflow: hidden;
}
/* end content sec */


/* sidebar sec */

.side_bar_link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
.side_bar_link a{
  display: flex;
  
  align-items: center;
  font-size: 1.05rem;
  color: white;
  transition: all ease .7s;
  width: 100%;
  padding-left: 15px;
}

.side_bar_link a:hover{

  background: crimson;
}

.action{
  cursor: pointer;
  transition: all .6s ease;
}
.action:hover{
  background: #a6afb3;
}

td.action a{
  display: flex;
  align-items: center;
  justify-content: center;
}

svg{
  width: 14px;
  height: 14px;
  fill: white;
}
 svg + span{
  margin-left: 5px;
}

.content table svg{
  fill: var(--secondary_color);
  width: 15px;
  height: 15px;
}
/* end sidebar sec */ 

.ad_title{
  color: var(--color);
  text-transform: uppercase;
}

/* let's style form control */

form{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

form .form_inp{
 
  margin: 10px 0;
  display: flex;
  align-items: center;
  column-gap: 20px;
  width: 100%;
 /*  border: var(--border); */
  padding-left: 20px;
  margin-bottom: 25px;

}


.form_inp input, textarea{
  width: 50%;
  padding: 10px 7px 10px 7px;
  background: rgba(231, 231, 231, 0.801);
  border: none;
  border-radius: 2px;
  outline: none;
  font-size: 1em;
 /*  padding: 10px 20px; */
  outline: none;

}

.form_inp input:placeholder{
  font-size: 15px;
}
.form_inp input:focus, textarea:focus{
  border: 1px solid var(--color);
}

.form_inp label{
  flex-basis: 20%;
  color: var(--primary_color);
  font-weight: 500;
}


form button{
  /* bg */
  background-image: linear-gradient(
    to right, 
    var(--primary_color) 0%, 
    #6d909e 51%, 
    var(--primary_color)  100%);
  /* end bg */
  padding: 8px 10px 8px 10px;
  text-align: center;
  background-size: 200%;
  color: white;
  font-size: .90em;
  font-weight: 500;       
  border:none;
  transition: all .8s;
}

form .controls{
  justify-content: center;
}
form button:hover{
  background-position: right center;
}
/* end let's style form control */